<nav class="navbar">
  <div class="logo">
    <h2>SecureBank</h2>
  </div>

  <ul class="nav-links">
    <li><a [routerLink]="['/landing-page']">Home</a></li>
    <li><a [routerLink]="['/accounts']">Accounts</a></li>
    <li><a [routerLink]="['/transfer']">Transfer</a></li>
    <li><a [routerLink]="['/payments']">Payments</a></li>
    <li><a [routerLink]="['/services']">Services</a></li>
    <li><a [routerLink]="['/support']">Support</a></li>
  </ul>

  <div class="buttons">
    <a routerLink="/login" class="login-btn">Login</a>
    <a routerLink="/register" class="register-btn">Register</a>
  </div>
</nav>
